{% extends 'base.html.twig' %}

{% block title %}
    todo: afficher le nom du souhait | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: le titre du souhait</h2>

    {# todo: afficher le détails du souhait #}
{% endblock %}


