{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        {% for wish in wishs %}
        <article>
            <a href="{{ path('wish_detail', {'id':wish.id}) }}" title="Voir se souhait en détail">{{ wish.title }} ({{ wish.category.name }})
            </a>
        </article>
        {% endfor %}
    </section>
{% endblock %}


