{% extends 'base.html.twig' %}

{% block title %}
    Liste de souhaits | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: la liste des souhaits</h2>

    {# todo: afficher la liste des souhaits #}
{% endblock %}


